// ----------------------------------------------
// Card Style
// ----------------------------------------------

.card-title {
    font-family: $headings-font-family;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--charcoal);
    letter-spacing: -0.02em;
    line-height: 1.25;
}

.card-subtitle {
    font-size: 14px;
}

.card {
    margin-bottom: 30px;
}
